name: classifier
channels:
  - pytorch
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - pytorch>=2.0
  - torchvision
  - tensorboard
  - numpy
  - pip
  - pip:
    - -r requirements.txt
